{% extends 'base_templates.html' %}

{% load static %}

{% block meta %}
    <title>Marketing Scanner - Сброс пароля</title>
    <meta name="Keywords" content="ключевые слова слова">
    <meta name="description" content="описание для бота">
{% endblock %}

{% block content %}
    <div class="main__container">
        <form method="post" class="main__form form">
            {% csrf_token %}
            <input  type="hidden"  name="next"  value="{{ next }}">
            <h2 class="form__title">
                Восстановление пароля
            </h2>
            <div class="form__subtitle">
                <a href="{% url 'scanner_auth:login' %}">или Войдите</a>
            </div>
            <div class="form__inputs">
                <label class="form__input">
                    Адрес электронной почты:<br>
                     {{ form.email }}
                </label>
                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% endif %}
            </div>
            <button type="submit" class="form__button">
                Войти
            </button>
            <a href="#" class="form__link">Забыли пароль?</a>
        </form>
    </div>
{% endblock %}