{% extends 'base_templates.html' %}

{% load static %}

{% block meta %}
    <title>Marketing Scanner - Подтверждение пароля</title>
    <meta name="Keywords" content="ключевые слова слова">
    <meta name="description" content="описание для бота">
{% endblock %}

{% block content %}
    <div class="main__container">
        <form method="post" class="main__form form">
            {% csrf_token %}
            <input  type="hidden"  name="next"  value="{{ next }}">
            <h2 class="form__title">
                Восстановление пароля
            </h2>
            <div class="form__inputs">
                <label class="form__input">
                    Пароль:<br>
                     {{ form.new_password1 }}
                </label>
                {% if form.new_password1.errors %}
                    {{ form.new_password1.errors }}
                {% endif %}
                <label class="form__input">
                    Повтор пароля:<br>
                     {{ form.new_password2 }}
                </label>
                {% if form.new_password2.errors %}
                    {{ form.new_password2.errors }}
                {% endif %}
            </div>
            <button type="submit" class="form__button">
                Изменить пароль
            </button>
        </form>
    </div>
{% endblock %}