{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block meta %}
            <title>Marketing Scanner</title>
            <meta name="Keywords" content="тег, поисковая система">
            <meta name="description" content="Сканер - базовый шаблон">
        {% endblock %}
</head>
<body>
<div class="wrapper">
    {% include 'includes/header.html' %}
    <main class="main">
        {% include 'includes/nav_menu.html' %}
        {% block content %}
            <p>Нет контента...</p>
        {% endblock %}
    </main>
    {% include 'includes/footer.htm' %}
</div>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>