{% extends 'base_templates.html' %}

{% load static %}

{% block meta %}
    <title>Marketing Scanner - Главная</title>
    <meta name="Keywords" content="тег, поисковая система">
    <meta name="description" content="Сканер - базовый шаблон">
{% endblock %}

{% block content %}
    <div class="main__container">
        <h1>Главная страница</h1>
        <div class="main__text">
            <p class="main__p">
                Здесь находится простой текст p.
            </p>
            <p class="main__p">
                С выравниванием по ширине на ширину страницы.
            </p>
        </div>
    </div>
{% endblock content %}